@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase



<CascadingAuthenticationState>
		<AuthorizeView>
			<NotAuthorized>
			
					
					<Login />
				
		</NotAuthorized>
			<Authorized>
			
			@if (!context.User.HasClaim("role", "CompanyAuthSuccess")  )
			{
						<CompanySelection />
			}
			else
			{
				<div>
						<BLinterface>
							@Body
						</BLinterface>
				</div>
			}

		</Authorized>
		</AuthorizeView>
	</CascadingAuthenticationState>

