<div class="pen-title">
    <h1>Login Form</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
    <div class="toggle">
        <i class="fa fa-times fa-pencil"></i>
        <div class="tooltip">Click Me</div>
    </div>
    <div class="form">
        <h2>Login to your account</h2>
        <form>
			<input type="text" placeholder="Username" @bind-value=_tokenModel.UserName />
			<input type="password" placeholder="Password" @bind-value=_tokenModel.Password />
			<button @onclick=SubmitAsync>Login</button>
        </form>
    </div>
</div>


<style>

 
</style>